{% extends "layouts/base.html" %}

{% block title %} Product Form {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Add Product</h5>
                            </div>
                            <div class="card-body">
                                {% if msg %}
                                <span class="mb-0 text-danger">
                                    {{ msg | safe }}
                                </span>
                                {% else %}
                                <span class="mb-0 text-muted">
                                    Add customer info
                                </span>
                                {% endif %}
                                <hr>
                                <form role="form" method="POST" action="">
                                    {{ form.hidden_tag() }}
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form.name.label }}
                                                {{ form.name(placeholder="Enter name", class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.code.label }}
                                                {{ form.code(placeholder="Enter code", class="form-control", rows=2) }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.brand.label }}
                                                {{ form.brand(placeholder="Enter brand", class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.category.label }}
                                                {{ form.category(class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.mrp.label }}
                                                {{ form.mrp(placeholder="Enter MRP", class="form-control", rows=2) }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form.discount.label }}
                                                {{ form.discount(placeholder="Enter discount", class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.price.label }}
                                                {{ form.price(placeholder="Enter price", class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.taxrate.label }}
                                                {{ form.taxrate(placeholder="Enter taxrate",class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.unit.label }}
                                                {{ form.unit(placeholder="Enter unit", class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.rackno.label }}
                                                {{ form.rackno(placeholder="Enter rack no.", class="form-control") }}
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{ form.hsncode.label }}
                                                {{ form.hsncode(class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.hsnname.label }}
                                                {{ form.hsnname(placeholder="Enter HSN name", class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.cbarcode.label }}
                                                {{ form.cbarcode(placeholder="Enter custom barcode",
                                                class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.obarcode.label }}
                                                {{ form.obarcode(placeholder="Enter original barcode",
                                                class="form-control") }}
                                            </div>
                                            <div class="form-group">
                                                {{ form.expiry.label }}
                                                {{ form.expiry(placeholder="Enter product expiry",class="form-control") }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" name="prod_add"
                                                class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}